[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
django = "*"
matplotlib = "*"
opencv-python = "*"
keras = "*"
pillow = "*"
sklearn = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.9"
