[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
django = "*"
matplotlib = "*"
opencv-python = "*"
keras = "==2.4.3"
pillow = "*"
sklearn = "*"
tensorflow = "==2.5.0"

[dev-packages]

[requires]
python_version = "3.9"
