<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-fluid" width=400>

        {% if imgb64 %}
        <div class="row justify-content-center">
            <p>Adjust corners to align puzzle borders</p>
        </div>
        <div class="row justify-content-center">
            <canvas id="canvas" width=360 height={{canvas_height}}
                style="background: url('{{imgb64}}');background-size: cover;background-repeat: no-repeat;"></canvas>
        </div>
        <div class="row justify-content-center">
            <button type="button" class="btn btn-secondary"><a id="back" href="{% url 'index' %}">&laquo; Back
                </a></button>
            <button type="button" class="btn btn-success"><a id="next" onclick="sendCoordinates();">Read
                    Puzzle</a></button>
        </div>

        {% endif %}
        <div class="row justify-content-center">
            <div id="progress" class="d-none">
                <img src="{% static 'images/spinner.gif' %}">
            </div>
        </div>


        <div class="row justify-content-center">
            <div id="output"></div>
        </div>
        <div class="row justify-content-center">
            <div id="solve-message" class="d-none">
                <div>Double check if the puzzle is read correctly</div>
                <div>click/tab the cell to edit the number</div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div id="solve-button" class="d-none">
                <button type="button" class="btn btn-success"><a onclick="solvePuzzle();">Solve Puzzle</a></button>
            </div>
        </div>
        <div class="row justify-content-center">
            <div id="finish" class="d-none">
                <img src="{% static 'images/congrats.png' %}">
                <h2>Solved!</h2>
                <img class='img-flipped' src="{% static 'images/congrats.png' %}">
            </div>
        </div>

    </div>
    <script>
        // get canvas related references
        var canvas = document.getElementById("canvas");
        var ctx = canvas.getContext("2d");
        var BB = canvas.getBoundingClientRect();
        var offsetX = BB.left;
        var offsetY = BB.top;
        var WIDTH = canvas.width;
        var HEIGHT = canvas.height;

        // drag related variables
        var dragok = false;
        var startX;
        var startY;

        // an array of objects that define different shapes
        var shapes = [];
        // define 4 circles
        var factor = {{ factor }}
        shapes.push({ x: {{ ltx }} * {{ factor }}, y: {{ lty }}* {{ factor }}, r: 10, fill: "#444444", isDragging: false });
        shapes.push({ x: {{ lbx }}* {{ factor }}, y: {{ lby }}* {{ factor }}, r: 10, fill: "#ff550d", isDragging: false });
        shapes.push({ x: {{ rbx }}* {{ factor }}, y: {{ rby }}* {{ factor }}, r: 10, fill: "#800080", isDragging: false });
        shapes.push({ x: {{ rtx }}* {{ factor }}, y: {{ rty }}* {{ factor }}, r: 10, fill: "#0c64e8", isDragging: false });

        // lines between points
        // listen for mouse events
        canvas.onmousedown = myDown;
        canvas.onmouseup = myUp;
        canvas.onmousemove = myMove;
        canvas.ontouchstart = myDown;
        canvas.ontouchmove = myMove;
        canvas.ontouchend = myUp;

        // call to draw the scene
        draw();

        // draw a single rect
        function circle(c) {
            ctx.fillStyle = c.fill;
            ctx.beginPath();
            ctx.arc(c.x, c.y, c.r, 0, Math.PI * 2);
            ctx.closePath();
            ctx.fill();
        }

        // clear the canvas
        function clear() {
            ctx.clearRect(0, 0, WIDTH, HEIGHT);
        }

        // redraw the scene
        function draw() {
            clear();

            // redraw each shape in the shapes[] array
            for (var i = 0; i < shapes.length; i++) {
                // decide if the shape is a rect or circle
                // (it's a rect if it has a width property)
                circle(shapes[i]);
            }
            for (var i = 0; i < shapes.length; i++) {
                ctx.strokeStyle = "#FF0000"
                ctx.beginPath()
                ctx.moveTo(shapes[i].x, shapes[i].y)
                ctx.lineTo(shapes[(i + 1) % 4].x, shapes[(i + 1) % 4].y)
                ctx.closePath()
                ctx.stroke()
            }

        }


        // handle mousedown events
        function myDown(e) {

            // tell the browser we're handling this mouse event
            e.preventDefault();
            e.stopPropagation();
            console.log(e)
            // get the current mouse position
            if (e.type === "mousedown") {
                var mx = parseInt(e.clientX - offsetX);
                var my = parseInt(e.clientY - offsetY);
            } else {
                var mx = parseInt(e.touches[0].clientX - offsetX);
                var my = parseInt(e.touches[0].clientY - offsetY);
            }


            // test each shape to see if mouse is inside
            dragok = false;
            for (var i = 0; i < shapes.length; i++) {
                var s = shapes[i];
                // decide if the shape is a rect or circle               
                if (s.width) {
                    // test if the mouse is inside this rect
                    if (mx > s.x && mx < s.x + s.width && my > s.y && my < s.y + s.height) {
                        // if yes, set that rects isDragging=true
                        dragok = true;
                        s.isDragging = true;
                    }
                } else {
                    var dx = s.x - mx;
                    var dy = s.y - my;
                    // test if the mouse is inside this circle
                    if (dx * dx + dy * dy < s.r * s.r) {
                        dragok = true;
                        s.isDragging = true;
                    }
                }
            }
            // save the current mouse position
            startX = mx;
            startY = my;
        }


        // handle mouseup events
        function myUp(e) {
            // tell the browser we're handling this mouse event
            e.preventDefault();
            e.stopPropagation();

            // clear all the dragging flags
            dragok = false;
            for (var i = 0; i < shapes.length; i++) {
                shapes[i].isDragging = false;
            }
        }

        // handle mouse moves
        function myMove(e) {
            // if we're dragging anything...
            if (dragok) {

                // tell the browser we're handling this mouse event
                e.preventDefault();
                e.stopPropagation();

                // get the current mouse position
                if (e.type === "mousemove") {
                    var mx = parseInt(e.clientX - offsetX);
                    var my = parseInt(e.clientY - offsetY);
                } else {
                    var mx = parseInt(e.touches[0].clientX - offsetX);
                    var my = parseInt(e.touches[0].clientY - offsetY);
                }

                // calculate the distance the mouse has moved
                // since the last mousemove
                var dx = mx - startX;
                var dy = my - startY;

                // move each rect that isDragging 
                // by the distance the mouse has moved
                // since the last mousemove
                for (var i = 0; i < shapes.length; i++) {
                    var s = shapes[i];
                    if (s.isDragging) {
                        s.x += dx;
                        s.y += dy;
                    }
                }

                // redraw the scene with the new rect positions
                draw();

                // reset the starting mouse position for the next mousemove
                startX = mx;
                startY = my;

            }
        }

        // send coordinates to django view
        function sendCoordinates() {
            var URL = "{% url 'process_image' %}";
            var data = {
                'points': shapes,
                'factor': factor,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            }
            $("#progress").attr("class", "d-block")
            $.post(URL, data, function (response) {
                $("#output").html(response)
                $("#progress").attr("class", "d-none")
                $("#solve-message").attr("class", "d-block")
                $("#solve-button").attr("class", "d-block")
            });

        }


        function solvePuzzle() {

            var table = new Array()
            var URL = "{% url 'render_output' %}"
            $('#process_puzzle tr').each((tr_idx, tr) => {
                var row = new Array()
                $(tr).children('td').each((td_idx, td) => {
                    let val = $(td).children('input').eq(0).val()
                    val = (val === '') ? 0 : parseInt(val)
                    row.push(val)
                });
                table.push(row)
            });
            var data = {
                'puzzle': table,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            }

            console.log(table)
            $("#progress").attr("class", "d-block")
            $.post(URL, data, function (response) {
                $("#output").html(response)
                $("#progress").attr("class", "d-none")
                $("#solve-message").attr("class", "d-none")
                $("#solve-button").attr("class", "d-none")
                $("#finish").attr("class", "d-block")
            })

        }
    </script>
</body>